<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
  ">
  <context:component-scan base-package="it.online.biblioteca" />
  
	<tx:annotation-driven  proxy-target-class="true" transaction-manager="transactionManager" />

	<mvc:annotation-driven />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/biblioteca" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

		<property name="annotatedClasses">
			<list>
				<value>it.online.biblioteca.model.Libro</value>
				<value>it.online.biblioteca.model.Utente</value>
				<value>it.online.biblioteca.model.StatoUtente</value>
				<value>it.online.biblioteca.model.Prenotazione</value>
				<value>it.online.biblioteca.model.Catalogo</value>
				<value>it.online.biblioteca.model.Contatto</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="simpleLibro" class="it.online.biblioteca.model.Libro" scope="prototype" />

	<bean id="dao" class="it.online.biblioteca.service.LibroDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="utenteDao" class="it.online.biblioteca.service.UtenteDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="statoUtenteDao" class="it.online.biblioteca.service.StatoUtenteDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="prenotazioneDao" class="it.online.biblioteca.service.PrenotazioneDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="catalogoDao" class="it.online.biblioteca.service.CatalogoDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="contattoDao" class="it.online.biblioteca.service.ContattoDao">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>
</beans>
